{% extends 'base.html.twig' %}

{% form_theme formArticle 'Bootstrap_4_layout.html.twig' %}

{% block title %}Bienvenue sur ce Blog!{% endblock %}

{% block body %}

<h5> INSERTION NOUVEL ARTICLE</h5>

	{{ form_start(formArticle) }}
		{{ form_widget(formArticle) }}
		<button type="submit" class="btn btn-success">Ajouter l'article </button>
	{{ form_end(formArticle) }}

{% endblock %}